<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p> ...</p>
        <hr>


        
        <footer class="main">
            
                    <div id="uncopyright">
                        <p>Uncopyright &copy;2022 <strong>Beer</strong></p>
                    </div>
                    <div id="contact">
                        <p>Still have questions? Please <a href=""><strong>Contact</strong></a> Us!</p>
                    </div>
            
        </footer>
        


    </body>
</html>