<div class="table-users" *ngIf="show">
    <div class="header">Users</div>
    
    <table cellspacing="0">
       <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>First Brewed</th>
          <th>Food Pairing</th>
          <th width="230">Description</th>
       </tr>
 
       <tr>
          <td><img src="{{beer[0].image_url}}" alt="" /></td>
          <td>{{ beer[0].name }}</td>
          <td>{{beer[0].first_brewed}}</td>
          <td>{{beer[0].food_pairing}}</td>
          <td>{{beer[0].description}}</td>
       </tr>
    </table>
 </div>